{% extends 'user/main_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Chat {{ room.rname }}{% endblock %}
{% block main %}
    <section style="background-color: #CDC4F9;">
        <div class="container py-5">
            <h1 class="mt-5 d-flex justify-content-center">{{ room.rname }}</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="card" id="chat3" style="border-radius: 15px;">
                        <div class="card-body">
                            <div class="row">
                                <div style="margin-left: 25px; margin-right: 25px;">
                                    <div class="pt-3 pe-3"
                                         data-mdb-perfect-scrollbar="true"
                                         style="position: relative;
                                                height: 400px">
                                        <div id="chat-messages">
                                            {% for message in messages %}
                                            <div>
                                                <strong>{{message.user.username}}:</strong> {{message.content}} <br>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-1">
                <input type="text"
                       style="margin-left: 25px"
                       class="form-control form-control-lg"
                       id="chat-message-input"
                       placeholder="Type message">
                <button class="btn btn-primary m-2" id="chat-message-submit">Send</button>
            </div>
        </section>
    {% endblock %}
    {% block main_scripts %}
        {{ room.rslug|json_script:"json-roomname" }}
        {{ request.user.username|json_script:"json-username" }}
        <script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
    const userName = JSON.parse(document.getElementById('json-username').textContent);
    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        + '/'
    );

    chatSocket.onclose = function(e) {
        console.log('onclose')
    }

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.message) {
            document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
        } else {
            alert('The message was empty!')
        }

        scrollToBottom();
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        e.preventDefault()

        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;

        console.log({
            'message': message,
            'username': userName,
            'room': roomName
        })

        chatSocket.send(JSON.stringify({
            'message': message,
            'username': userName,
            'room': roomName
        }));

        messageInputDom.value = '';

        return false
    };

    /**
    * A function for finding the messages element, and scroll to the bottom of it.
    */
    function scrollToBottom() {
        let objDiv = document.getElementById("chat-messages");
        objDiv.scrollTop = objDiv.scrollHeight;
    }

    // Add this below the function to trigger the scroll on load.
    scrollToBottom();
    
        </script>
    {% endblock %}
